// VARIABLES
$bg-color: #2D2641;
$font-color: #2C2830;
$nav-color:  #837D88;
$human-color: #FFFFFF;
$line:   #C396C6;
$footer-color: #FAFAFA;
$footer-line: #DADADA;

$font-human: 'DM Serif Display';
$font-primary: 'Karla';
